.centralizar {
    max-width: 500px;
    margin: auto;
}

.button-logar {
    margin-left: 43.2%;
}

.padding-login {
    padding: 250px 0 148px 0;
}

.criar-cadastro {
    margin: 3% 19.5% 0px 31%;
}

.imagem-background-login {
    width: 100%;
    height: 100%;
    background-image: url(./img/imagemStarWarsLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.painel {
    margin: auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.25), 0 3px 20px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 0 1px rgba(0,0,0,.25), 0 3px 20px 0 rgba(0,0,0,.15);
    background-color: #f9f9fb;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
}

@media only screen and (max-width: 769px) {
    .padding-login {
        padding: 250px 38px 148px 38px;
    }
    
    .button-logar {
        margin-left: 38.2%;
    }

    .criar-cadastro {
        margin: 8% 5% 0% 14%;
    }

}