.centralizar {
    max-width: 500px;
    margin: auto;
}

.button-logar {
    margin-left: 43.2%;
}

.padding-login {
    padding: 250px 0 148px 0;
}

.criar-cadastro {
    float: right;
    margin: 5% 28.5% 0px 0px;
}

@media only screen and (max-width: 769px) {
    .padding-login {
        padding: 250px 38px 148px 38px;
    }
    
    .button-logar {
        margin-left: 38.2%;
    }

    .criar-cadastro {
        float: right;
        margin: 8% 19% 0% 0%;
    }

}