.padding-principal {
    padding: 250px 0 148px 0;
}

.centraliza-titulo {
    text-align: center;
}

.centraliza-tabela {
    width: 75%;
    margin: auto;
}

.centraliza-colunasTabela th {
    text-align: center;
}

.css-0 {
    margin: 63px 0px 0px 41.5%;
}

.titulo-grande{
    font-size: 42px;
}
@media only screen and (max-width: 769px) {
    
    .scroll-table {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .padding-principal {
        padding: 100px 0 50px 0;
    }

    .header_area .navbar {
        background: black;
    }

    .css-0 {
        position: absolute;
        left: -5%;
        top: 25%;
    }

    /* Tamanho das bolinhas de loading no mobile */
    .css-1oltgjo {
        width: 30px !important;
        height: 30px !important;
    }
    
    /* Tamanho das bolinhas de loading no mobile */
    .css-1q7n0vb {
        width: 30px !important;
        height: 30px !important;
    }

    .titulo-grande{
        font-size: 36px;
    }
}
