.padding-principal {
    padding: 250px 0 148px 0;
}

.centraliza-titulo {
    text-align: center;
}

.centraliza-tabela {
    width: 75%;
    margin: auto;
}

.centraliza-colunasTabela th {
    text-align: center;
}

.loading-tables {
    position: absolute;
    left: 41%;
    top: 52%;
}